@import 'src/assets/styles/variables.scss';
@import 'src/assets/styles/general.scss';

.all{
    padding: 23vh 0 10vh;
    background-color: #f1f3f6;
    .coach-img{
        img{
            width: 100%;
            border-radius: 25px;
        }
    }
    .coach-info{
        .rate-skill{
            padding: 6px;
            border-radius: 3px;
            background-color: $white;
            border: 1px solid $primary-blue-faint3;
            width: 100%;
            max-width: 400px;
        }
    }
    .testimony{
        .imh{
            width: 30px;
            border-radius: 50%;
            margin-right: 22px;
            img{
                width: 100%;
            }
        }
        h6{
            color: $primary-blue;
            font-size: 1.1em;
        }
    }
}