<div class="auth-bg">
    <div class="auth-card">
        <a routerLink="/">
            <div class="logo-holder">
                <img src="./../../../../../assets/images/marketing/main-logo.png" alt="">
            </div>
        </a>
        <div class="form-flex">
            <div class="input-flex">
                <div class="w100 full-button">
                    <h6>Choose Password</h6>
                    <p>Hi {{userDetails.firstName}} {{userDetails.lastName}} </p>
                    <p>Please ensure you remember this password as you would need it to log into the platform subsequently</p>
                    <form #f="ngForm" name="signin_form" (ngSubmit)="onSubmit()" id="signin_form">
                        <label>New Password</label>
                        <div class="relative">
                            <input [type]="passwordType" required name="password" required [(ngModel)]="form.password"
                                id="password" placeholder="Enter password">
                            <div class="eye-toggle">
                                <i class="far fa-eye" *ngIf="!passwordVisible" (click)="togglePasswordVisibility(true)"></i>
                                <i class="far fa-eye-slash" *ngIf="passwordVisible" (click)="togglePasswordVisibility(false)"></i>
                            </div>
                        </div>
                        <label>Confirm Password</label>
                        <div class="relative">
                            <input [type]="passwordType" required name="password2" required [(ngModel)]="form.password2"
                                id="password2" placeholder="Confirm password">
                            <div class="eye-toggle">
                                <i class="far fa-eye" *ngIf="!passwordVisible" (click)="togglePasswordVisibility(true)"></i>
                                <i class="far fa-eye-slash" *ngIf="passwordVisible" (click)="togglePasswordVisibility(false)"></i>
                            </div>
                        </div>
                        <button class="solid-button" [ngClass]="{'secondary-blue-i': loading}" type="submit" [disabled]="f.invalid || loading">
                            <span *ngIf="!loading">Sign In</span>
                            <span *ngIf="loading"><app-basic-loader></app-basic-loader></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>