@import 'src/assets/styles/variables.scss';
@import 'src/assets/styles/general.scss';

.hero{
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: calc(4vw + 10px);
    padding-right: calc(4vw + 10px);
    .mb-custom{
        margin-bottom: 20px;
        button{@include mediaW(550px){
            padding-left: 30px;
            padding-right: 30px;
        }}
    }
    .logo{
        width: 150px;
        @include mediaM(550px){
            width: 110px;
        }
    }
    .board{
        padding: calc(3vh + 3vw);
        background-color: $light-yellow;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        border-radius: 20px;
        min-height: calc(90vh - 140px);
        position: relative;
        span{
            font-size: inherit !important;
        }
        .text-holder{
            width: 45%;
            .search-grid{
                display: grid;
                grid-template-columns: 50px auto;
                width: 100%;
                border-radius: 8px;
                box-shadow: 0 30px 40px 1px $black-faint4;
                background-color: $white;
                input{
                    border: none;
                    // height: 60px;
                    padding: 20px 25px;
                    border-radius: 8px;
                    &:focus{
                        outline: none;
                    }
                }
                i{
                    font-size: 1.7em;
                    padding: 18px 0 0 15px;
                    color: $grey-light;
                    cursor: pointer;
                }
            }
        }
        .hero-girl{
            position: absolute;
            right: 5%;
            bottom: 0;
            width: 40%;
        }
        .trans{
            opacity: 0;
        }
        @include mediaM(750px){
            .mf{
                display: none;
            }
            text-align: center;
            .text-holder{
                width: 90%;
            }
        }
    }
}

.benefit{
    .benefit-content{
        text-align: center;
        p{
            color: $grey-mid;
        }
        border-radius: 8px;
        border: 1px solid $secondary-blue;
        min-height: 245px;
    }
}

.footer{
    // background-color: $black;
    color: $black-faint1;
    .holder{
        a{
            color: inherit;
            padding: 3px 5px;
            i{
                font-size: 1.5em;
                padding: 0 5px;
            }
        }
    }
}