<div class="auth-bg">
    <div class="auth-card">
        <a routerLink="/">
            <div class="logo-holder">
                <img src="./../../../../../assets/images/marketing/main-logo.png" alt="">
            </div>
        </a>
        <div class="form-flex">
            <div class="input-flex">
                <div class="w100 full-button">
                    <h6>Sign in</h6>
                    <form #f="ngForm" name="signin_form" (ngSubmit)="onSubmit()" id="signin_form">
                        <label>Email/Username</label>
                        <input type="email" required name="username" required [(ngModel)]="form.username"
                            id="username" placeholder="Enter email or username">
                        <label>Password</label>
                        <div class="relative">
                            <input [type]="passwordType" required name="password" required [(ngModel)]="form.password"
                                id="password" placeholder="Enter email or password">
                            <div class="eye-toggle">
                                <i class="far fa-eye" *ngIf="!passwordVisible" (click)="togglePasswordVisibility(true)"></i>
                                <i class="far fa-eye-slash" *ngIf="passwordVisible" (click)="togglePasswordVisibility(false)"></i>
                            </div>
                        </div>
                        <p class="text-right font-weight-bold"><a routerLink="/auth/forgot-password">Forgot password?</a></p>
                        <button class="solid-button" [ngClass]="{'secondary-blue-i': loading}" type="submit" [disabled]="f.invalid || loading">
                            <span *ngIf="!loading">Sign In</span>
                            <span *ngIf="loading"><app-basic-loader></app-basic-loader></span>
                        </button>
                    </form>
                    <div class="center-info">
                        <div class="bar"></div>
                        <span class="mx-2 my-3">Or sign in with social</span>
                        <div class="bar"></div>
                    </div>
                    <div class="center-info mb-3">
                        <div class="social-link">
                            <img src="./../../../../assets/images/marketing/social-icons/instagram.svg" alt="">
                        </div>
                        <div class="social-link">
                            <img src="./../../../../assets/images/marketing/social-icons/facebook.svg" alt="">
                        </div>
                        <div class="social-link">
                            <img src="./../../../../assets/images/marketing/social-icons/twitter.svg" alt="">
                        </div>
                        <div class="social-link">
                            <img src="./../../../../assets/images/marketing/social-icons/linkedin.svg" alt="">
                        </div>
                    </div>
                    <p class="text-center">Don’t have an account? <a routerLink="/auth/protegee-signup" class="font-weight-bold">Register</a></p>
                </div>
            </div>
        </div>
    </div>
</div>