<div class="hero py-5">
    <div class="spread-info mb-custom">
        <div class="imh logo">
            <a routerLink="/">
                <img src="../../../../assets/images/new-marketing/main-logo.png" alt="">
            </a>
        </div>
        <a routerLink="/auth/log-in">
            <button class="solid-button-orange-2">Login</button>
        </a>
    </div>
    <div class="board">
        <div class="text-center">
            <h3 class="g-6 c-pr-blue">cm</h3>
            <h1 class="g-6">Terms of Service</h1>
            <p class="increased c-grey pt-4 mb-0">Last Updated on January 2021</p>
        </div>
    </div>
</div>


<div class="py-5">
    <div class="w90 max110">
        <div class="w100 max1100 py-3">
            <h5 class="c-purple-grey">General</h5>
            <p class="c-purple-grey">
                This policy describes what information we collect when you use Superpeer’s sites, services, mobile applications, products, and content (
                “Services”). It also provides information about how we store, transfer, use, and delete that .
                <br><br>
                This policy applies where we are acting as a Data Controller with respect to the personal data of Hosts and Users of our Services; in other 
                words, where we determine the purposes and means of the processing of that personal data. For content and data that you upload to or make 
                available through the Service (“User Content”), you are responsible for ensuring this content is in accordance with our Terms of Service, 
                and that the content is not violating other Hosts and Users’ privacy.
                <br><br>
                This policy applies where we are acting as a Data Controller with respect to the personal data of Hosts and Users of our Services; in other 
                words, where we determine the purposes and means of the processing of that personal data. For content and data that you upload to or make 
                available through the Service (“User Content”), you are responsible for ensuring this content is in accordance with our Terms of Service, 
                and that the content is not violating other Hosts and Users’ privacy.
            </p>
            <h5 class="c-purple-grey mt-5">Age limitations</h5>
            <p class="c-purple-grey">
                This policy describes what information we collect when you use Superpeer’s sites, services, mobile applications, products, and content 
                (“Services”). It also provides information about how we store, transfer, use, and delete that.
                <br><br>
                This policy applies where we are acting as a Data Controller with respect to the personal data of Hosts and Users of our Services; in other 
                words, where we determine the purposes and means of the processing of that personal data. For content and data that you upload to or make 
                available through the Service (“User Content”), you are responsible for ensuring this content is in accordance with our Terms of Service, 
                and that the content is not violating other Hosts and Users’ privacy.. 
                <br><br>
                This policy applies where we are acting as a Data Controller with respect to the personal data of Hosts and Users of our Services; in other 
                words, where we determine the purposes and means of the processing of that personal data. For content and data that you upload to or make 
                available through the Service (“User Content”), you are responsible for ensuring this content is in accordance with our Terms of Service, 
                and that the content is not violating other Hosts and Users’ privacy.
            </p>
        </div>
    </div>
</div>


<div class="footer p-3">
    <div class="spread-info-web-sm w90 holder">
        <div class="center-info">
            <a routerLink="/insights">Insights</a>
            <a routerLink="/faq">FAQ</a>
            <a routerLink="/privacy">Privacy</a>
            <a routerLink="/terms">Terms</a>
        </div>
        <div class="center-info">
            <a href="">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <div class="center-info footer-space-equator">
            cm, Inc
        </div>
    </div>
</div>

