<div class="auth-bg">
    <div class="auth-card">
        <a routerLink="/">
            <div class="logo-holder">
                <img src="./../../../../../assets/images/marketing/main-logo.png" alt="">
            </div>
        </a>
        <div class="form-flex">
            <div class="input-flex">
                <div class="w100 text-center">
                    <h6 class="mb-3">Apply to Impact on cm</h6>
                    <p>
                        Preview and copy the full list of application questions 
                        <br>
                        <a class="font-weight-bold" href="../../../../assets/files/Coach-onboarding.pdf">Here</a>
                    </p>
                    <p>
                        Be sure to have ready <span class="font-weight-bold">Professional Work Experience History, High Quality Professional Picture,</span> 
                        and <span class="font-weight-bold">Expertise Pitch Video</span> <span class="italic">(not more than 60 seconds)</span>
                    </p>
                    <div class="w80 full-button mb-2">
                        <a routerLink="/auth/coach-signup">
                            <button class="solid-button-2">Start Your Application</button>
                        </a>
                    </div>
                    <p>Takes ~8min+</p>
                </div>
            </div>
        </div>
    </div>
</div>