
<div class="auth-bg">
    <div class="auth-card">
        <div class="header-spacer"></div>
        <div class="form-flex" *ngIf="!registered; else registerMessage">
            <div class="input-flex">
                <div class="w100 full-button">
                    <div class="spread-info">
                        <h6 class="mb-0">Edit profile</h6>
                        <p class="mb-0 font-weight-bold cancel" (click)="cancel()">Cancel</p>
                    </div>
                    <form #f="ngForm" name="signin_form" (ngSubmit)="onSubmit()" id="signin_form">
                        <label>First Name</label>
                        <input type="text" required name="first_name" required [(ngModel)]="form.first_name"
                            id="first_name" placeholder="Enter first name">
                        <label>Last Name</label>
                        <input type="text" required name="last_name" required [(ngModel)]="form.last_name"
                            id="last_name" placeholder="Enter last name">
                        <label>Job Title</label>
                        <input type="email" required name="job_title" required [(ngModel)]="form.job_title"
                            id="job_title" placeholder="Enter job title">
                        <label>Company</label>
                        <input type="text" required name="company" required [(ngModel)]="form.company"
                            id="company" placeholder="Enter company">
                        <label>Job Summary</label>
                        <textarea required name="job_summary" form="signin_form" [(ngModel)]="form.job_summary"
                            id="job_summary" rows="3" placeholder="Enter job summary">
                        </textarea>
                        <button class="solid-button mt-2" [ngClass]="{'secondary-blue-i': loading}" type="submit" [disabled]="f.invalid || loading">
                            <span *ngIf="!loading">Update</span>
                            <span *ngIf="loading"><app-basic-loader [dimentions]="{size: 30, stroke: 4}"></app-basic-loader></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <ng-template #registerMessage>
            <div class="form-flex">
                <div class="input-flex">
                    <div class="text-center">
                        <h6 class="mb-3">Your data has been updated Successfully</h6>
                        <div class="w80 full-button mb-2">
                            <a routerLink="/coach/profile">
                                <button class="solid-button-2">Return to Profile</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>