<div class="header">
    <div class="spread-info">
        <div class="mobile-menu">
            <i class="fas fa-bars" (click)="openMobileMenu()"></i>
        </div>
        <a routerLink="/coach/dashboard">
            <div class="logo imh">
                <img src="./../../../../../assets/images/marketing/main-logo.png" alt="">
            </div>
        </a>
        <div class="mobile-click-catcher" (click)="closeMobileMenu()"></div>
        <div class="nav">
            <ul>
                <li class="menu-logo">
                    <div class="full imh">
                        <img src="./../../../../../assets/images/marketing/main-logo.png" alt="">
                    </div>
                </li>
                <li class="lg-open">
                    <div class="imh curve w60 max60">
                        <img [src]="userDetail.image ? userDetail.image : avater" alt="">
                    </div>
                    <h6 class="mt-2 mb-1 increased text-center">{{ userDetail.firstName | titlecase }} {{ userDetail.lastName | titlecase }}</h6>
                    <p class="mb-1 text-center c-sc-blue">{{ userDetail.username }}</p>
                    <p class="mt-2 mb-0 text-center">Wallet Balance</p>
                    <p class="mb-1 text-center increased font-weight-bold c-sc-blue">${{ userDetail.balance | number }}</p>
                </li>
                <li><a routerLink="/coach/dashboard" (click)="closeMobileMenu()" routerLinkActive="activeNav">Home</a><div class="under-band"></div></li>
                <li><a routerLink="/coach/sessions" (click)="closeMobileMenu()" routerLinkActive="activeNav">Sessions</a><div class="under-band"></div></li>
                <li><a routerLink="/coach/events" (click)="closeMobileMenu()" routerLinkActive="activeNav">Events</a><div class="under-band"></div></li>
                <li><a routerLink="/coach/blog" (click)="closeMobileMenu()" routerLinkActive="activeNav">Insights</a><div class="under-band"></div></li>
                <hr class="lg-open m-0" />
                <li class="lg-open"><a routerLink="/coach/profile" (click)="closeMobileMenu()" routerLinkActive="activeNav">Profile</a></li>
                <li class="lg-open">
                    <div class="mr-2 pr-2 spread-info">
                        <a href="javascript:void()" (click)="openNotifications(true)"><span>Notifications</span></a>
                        <span class="notification-count">{{ notification.count }}</span>
                    </div>
                </li>
                <li><a class="lg-close">
                    <div class="spread-info relative">
                        <div class="tiny-profile-img">
                            <img [src]="userDetail.image ? userDetail.image : avater" alt="">
                        </div>
                        <span class="mx-2 clickable" (click)="toggleUserProfileMenu(true)">{{ userDetail.firstName | titlecase }} {{ userDetail.lastName | titlecase }}</span>
                        <i class="fas fa-chevron-down clickable" (click)="toggleUserProfileMenu(true)"></i>
                        <i class="fas fa-bell ml-2" *ngIf="notification.count"></i>
                        <span class="notification-count tilted" *ngIf="notification.count">{{ notification.count }}</span>
                        <div class="user-menu" *ngIf="showUserMenu">
                            <div class="background" (click)="toggleUserProfileMenu(false)"></div>
                            <div class="profile-dropdown">
                                <a routerLink="/coach/profile" (click)="toggleUserProfileMenu(false)">Profile</a>
                                <a href="javascript:void()">
                                    <div class="spread-info my-2">
                                        <a href="javascript:void()" (click)="openNotifications()"><span>Notifications</span></a>
                                        <span class="notification-count">{{ notification.count }}</span>
                                    </div>
                                </a>
                                <a href="javascript:void()" (click)="logOut()">Log Out</a>
                            </div>
                        </div>
                    </div>
                </a></li>
            </ul>
            <div class="search web-fade-big">
                <i class="fas fa-search" (click)="openHeaderSearch()"></i>
            </div>
        </div>
    </div>
    <div class="search-panel">
        <div class="spread-info">
            <div class="logo imh">
                <img src="./../../../../../assets/images/marketing/main-logo.png" alt="">
            </div>
            <div class="mobile-logo imh">
                <img src="./../../../../../assets/images/favicon.png" alt="">
            </div>
            <div class="search-area">
                <input type="text" placeholder="Search" name="" id="">
                <div class="addition search">
                    <i class="fas fa-search"></i>
                </div>
                <div class="addition times">
                    <i class="fas fa-times" (click)="closeHeaderSearch()"></i>
                </div>
            </div>
        </div>
    </div>
</div>