<div class="footer">
    <div class="continuity">
        <p class="text-center basic-info increased">
            <span> <span class="h-bold"> “One day or day one, it’s your decision”</span> - Unknown</span>
        </p>
        <h1 class="text-center basic-info h-bold increased mt-3 mb-3">
            Sign up to start learning! 
        </h1>
        <h1 class="text-center basic-info h-bold increased mt-3 mb-3">
            <button>Sign up today!</button>
        </h1>
        <!-- <div class="subscribe mt-3" (click)="clearFeedback()">
            <div class="input-area">
                <input type="text" placeholder="Enter email" [(ngModel)]="subscription.email" name="subscription_email" id="subscription_email">
            </div>
            <div class="submit-area" (click)="subscribe()">
                {{ submitButton }}
            </div>
        </div>
        <p class="text-danger text-center">{{ subscriptionError }}</p>
        <p class="text-success text-center mb-5">{{ subscriptionResponse }}</p>
    </div>
    <div class="row row-sects">
        <div class="col-md-3 col-sm-6 px-3 pt-3">
            <img src="assets/images/marketing/hollow-box.png" width="50px" alt="">
            <p class="my-2 h-light">
                <span>With hundreds of customizable settings,</span> including fonts, colors, and page configurations, 
                every pages can be made to look unique with just a few clicks.
            </p>
        </div>
        <div class="col-md-3 col-sm-6 px-3 pt-3">
            <img src="assets/images/marketing/solid-box.png" width="50px" alt="">
            <p class="my-2 h-light">
                <span>With hundreds of customizable settings,</span> including fonts, colors, and page configurations, 
                every pages can be made to look unique with just a few clicks.
            </p>
        </div>
        <div class="col-md-3 col-sm-6 px-3 pt-3">
            <img src="assets/images/marketing/hollow-crecent.png" width="50px" alt="">
            <p class="my-2 h-light">
                <span>With hundreds of customizable settings,</span> including fonts, colors, and page configurations, 
                every pages can be made to look unique with just a few clicks.
            </p>
        </div>
    </div> -->
    <div class="spread-info-web mt-5">
        <div class="bottom-holder">
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="bottom-holder">
            <a href="">FAQ</a>
            <a href="">Terms</a>
            <a href="">About</a>
            <a href="">Get in Touch</a>
        </div>
    </div>
</div>