<div class="auth-bg2">
    <a routerLink="/">
        <div class="logo-holder2">
            <img src="./../../../../../assets/images/marketing/main-logo.png" alt="">
        </div>
    </a>
    <div class="auth-card padded">
        <div class="form-flex">
            <div class="input-flex">
                <div class="w100 full-button">
                    <h6 class="pt-3">Forgot Password?</h6>
                    <p class="increased g-5">
                        Dont worry, we got you.
                    </p>
                    <p>
                        Enter email associated with your account
                    </p>
                    <form #f="ngForm" name="signin_form" (ngSubmit)="onSubmit()" id="signin_form">
                        <label>Email</label>
                        <input type="email" required name="username" required [(ngModel)]="form.username"
                            id="username" placeholder="Enter email">
                        <button class="solid-button-sec py-2 mt-4">
                            <span *ngIf="!loading">Send Reset Instruction</span>
                            <span *ngIf="loading"><app-basic-loader></app-basic-loader></span>
                        </button>
                        <!-- <button class="solid-button-sec py-2 mt-4" [ngClass]="{'secondary-blue-i': loading}" type="submit" [disabled]="f.invalid || loading">
                            <span *ngIf="!loading">Sign In</span>
                            <span *ngIf="loading"><app-basic-loader></app-basic-loader></span>
                        </button> -->
                        <p class="pt-1"><a routerLink="/auth/forgot-password">Forgot password?</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>