

<div class="cropper">
    <div class="modal-bg"></div>
    <div class="modal-container">
        <div class="modal-content">
            <!-- <div class="modal-closer" (click)="closeModal()">
                <i class="fas fa-times"></i>
            </div> -->
            <div class="">
                <div class="restriction-area">
                    <div></div>
                    <div>
                        <h1 class="text-center">Cropper Works</h1>
                    </div>
                
                    <input type="file" (change)="fileChangeEvent($event)" />
                
                    <!-- <image-cropper
                        [imageChangedEvent]="imageChangedEvent"
                    ></image-cropper> -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="w90">
                                    <image-cropper
                                    [imageChangedEvent]="imageChangedEvent"
                                    [maintainAspectRatio]="true"
                                    [aspectRatio]="4 / 3"
                                    format="png"
                                    (imageCropped)="imageCropped($event)"
                                    (imageLoaded)="imageLoaded()"
                                    (cropperReady)="cropperReady()"
                                    (loadImageFailed)="loadImageFailed()"
                                ></image-cropper>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="imh py-2 w90">
                                    <img [src]="croppedImage" />
                                </div>
                            </div>
                        </div>
                </div>
                <div class="w90  py-3 info-grid">
                    <button class=" hollow-button" (click)="closeModal()">Cancel</button>
                    <span></span>
                    <button class="solid-button" (click)="closeModal()">Crop</button>
                </div>
            </div>
        </div>
    </div>
</div>
<img [src]="croppedImage" />